.missions {
    background-image: url(../images/map.jpg);
    background-position: center;
    background-size: cover;
    height: 400px
}

.about {
    background-image: url('../images/Alma Profile.jpg');
    background-position: center;
    background-size: cover;
    height: 400px
}

.contact {
    background-image: url(../images/mail.jpg);
    background-position: center;
    background-size: cover;
    height: 400px
}
