
@{
    ViewBag.Title = "About";
}
<style>
    .borderstyle {
        border: solid 1px grey;
        border-radius: 5px;
        width: 500px;
        height: 400px;
        overflow: hidden;
    }
    img {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        object-fit:cover;
        width:500px;

    }
</style>
<h2>About Us</h2>
<!-- Header -->
<header class="bg-primary text-center py-5 mb-4">
    <div class="container">
        <h1 class="font-weight-light text-white">Our Mission</h1>
        <p style="font-size:30px">We strive to educate future missionaries and to keep the missionary spirit alive in those missionaries who have returned home</p>
    </div>
</header>

<!-- Header -->
<header class="bg-primary text-center py-5 mb-4">
    <div class="container">
        <h1 class="font-weight-light text-white">Meet the Team</h1>
    </div>
</header>

<!-- Page Content -->
<div class="container">
    <div class="row">
        <!-- Team Member 1 -->
        <div class="col-lg-6">
            
            <div class="card shadow borderstyle">
                
                    <img src="~/Content/images/Alma Profile.jpg" class="card-img-top" alt="..." >
                
                    <div class="card-body text-center">
                        <h5 class="card-title mb-0">Alma Thurber</h5>
                        <div class="card-text text-black-50">Web Developer</div>
                    </div>

            </div>
    

        </div>
        <!-- Team Member 2 -->
        <div class="col-lg-6">
            <div class="card shadow borderstyle">

                <img src="~/Content/images/Alma Profile.jpg" class="card-img-top" alt="...">

                <div class="card-body text-center">
                    <h5 class="card-title mb-0">Alma Thurber</h5>
                    <div class="card-text text-black-50">Web Developer</div>
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <!-- Team Member 3 -->
        <div class="col-lg-6">
            <div class="card shadow borderstyle">

                <img src="~/Content/images/Alma Profile.jpg" class="card-img-top" alt="...">

                <div class="card-body text-center">
                    <h5 class="card-title mb-0">Alma Thurber</h5>
                    <div class="card-text text-black-50">Web Developer</div>
                </div>

            </div>
        </div>
        <!-- Team Member 4 -->
        <div class="col-lg-6">
            <div class="card shadow borderstyle">

                <img src="~/Content/images/Alma Profile.jpg" class="card-img-top" alt="...">

                <div class="card-body text-center">
                    <h5 class="card-title mb-0">Alma Thurber</h5>
                    <div class="card-text text-black-50">Web Developer</div>
                </div>

            </div>
        </div>
    </div>

</div>

