
@{
    ViewBag.Title = "Index";
}

<div class="jumbotron jumbotron-fluid" style=" text-align:center;">
    <h3 class="display-4">Thinking about serving a mission?</h3>
    <a class="btn btn-primary btn-lg" href="#" role="button">Apply Now!</a>
</div>


<div class="container">
    <div class="row">
        <div class="col-sm-4" style="background-image:url(../../Content/images/map.jpg); background-position:center; background-size:cover; height:400px"></div>
        <div class="col-sm-4" style="background-image:url(../../Content/images/map.jpg); background-position:center; background-size:cover; height:400px"></div>
        <div class="col-sm-4" style="background-image:url(../../Content/images/map.jpg); background-position:center; background-size:cover; height:400px"></div>
    </div>
</div>